.txt-center {
    text-align: center;
}

.bg-red {
    background:rgb(236, 255, 139);
    width: fit-content;
    padding: 10px;
    border: 2px solid black;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
